* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 20px solid rgb(25, 175, 25);
  margin: 0 auto;
  position: relative; /* Para que respeite os limites das bordas */
  overflow: hidden; /* Para que tudo que sair das bordas do quadro não apareça mais na tela */
  background: linear-gradient(
    #87ceeb,
    #e6f6ff
  ); /* Cor do céu indo do azul para o branco */
}

.pipe {
  position: absolute; /* Para que uma img não interfira no comportamento da outra img */
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear; /* Para chamar a animação feita logo abaixo com a duração de 2 segundos rodando infinito e constante (linear) sem desaceleração na velocidade */
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 950ms ease-out; /* Para chamar a animação do pulo do Mário, ease-out para ele cair suavemente após pular */
}

.clouds {
  position: absolute;
  width: 400px;
  animation: clouds-animation 20s infinite linear;
}

.cogumelo {
  position: absolute;
  width: 100px;
  animation: cogumelo-animation 10s infinite linear;
  bottom: 75%;
}

/* Animação do cano iniciando pela direita do quadro e sumindo quando chegar na borda esquerda */

@keyframes pipe-animation {
  from {
    right: 0; /* Para o cano iniciar a animação no canto direito */
  }
  to {
    right: 100%; /* Para o cano sair fora da borda esquerda e sumir da tela */
  }
}

/* Animação do pulo do Mário */

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  45% {
    bottom: 180px;
  }

  50% {
    bottom: 200px;
  }

  55% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

/* Animação das nuvens */

@keyframes clouds-animation {
  from {
    right: -400px;
  }

  to {
    right: 100%;
  }
}

/* Animação cogumelo */
@keyframes cogumelo-animation {
  from {
    right: 0;
  }

  to {
    right: 100%;
  }
}
